@model POWebClient.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>
        Dashboard
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            overview &amp; stats
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>

        <i class="ace-icon fa fa-check green"></i>

        <strong class="green">
            Dashboard Pajak Online
            <small>(v1.0)</small>
        </strong>,
        Laman ini untuk merubah password
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
            </div><!-- /.page-header -->
            <div class="row">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @id = "frmChangePassword", @class = "form-horizontal", role = "form" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-body pal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.LabelFor(m => m.Username, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            <div class="block input-icon input-icon-right">
                                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @readonly = "readonly", @placeholder = "" })
                                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                                <i class="ace-icon fa fa-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4  control-label" })
                                        <div class="col-md-8">
                                            <div class="block input-icon input-icon-right">
                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "" })
                                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                                <i class="ace-icon fa fa-key"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4  control-label" })
                                        <div class="col-md-8">
                                            <div class="block input-icon input-icon-right">
                                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "" })
                                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                                <i class="ace-icon fa fa-key"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4  control-label" })
                                        <div class="col-md-8">
                                            <div class="block input-icon input-icon-right">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                                <i class="ace-icon fa fa-key"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.ValidationMessage("Error", new { @class = "text-danger" })
                                    @Html.ValidationMessage("Sukses", new { @class = "text-success" })
                                </div>
                            </div>
                        </div>
                    </div>
                            <div class="form-actions text-right pal">
                                <button id="btnChangePassword" type="submit" class="btn btn-info pull-right">
                                    Simpan
                                    &nbsp;<i class="fa fa-save"></i>
                                </button>
                            </div>
                }
            </div>
        </div>
    </div>
</div>

