<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pajak Online - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/Content/jquery.datetimepicker/jquery.datetimepicker.css" />
    <link rel="stylesheet" href="~/Content/css/ui.jqgrid.min.css" />
    <link rel="stylesheet" href="~/Content/css/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="~/Content/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="~/Content/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/Content/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="~/Content/css/ace-part2.min.css" />
    <link rel="stylesheet" href="~/Content/sweetalert2/sweetalert2.min.css" />
    @RenderSection("styles", false)
</head>
<body class="no-skin">
    <div id="navbar" class="navbar navbar-default ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header pull-left">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <small>
                        <i class="fa fa-tachometer"></i>
                        Dashboard Pajak Online
                    </small>
                </a>
            </div>
            @{
                var loginUser = POProject.Membership.LoginManager.Instance.GetLoggedInUser();
                var username = "Guest";
                if (loginUser != null)
                {
                    username = loginUser.Username;
                }
            }
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue dropdown-modal">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" width="35px" height="40px" src="~/Content/images/pemkot.png" alt="Profile Photo" />
                            <span class="user-info">
                                <small>Welcome,</small>
                                @username
                            </span>
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>
                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-cog"></i>
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a href="profile.html">
                                    <i class="ace-icon fa fa-user"></i>
                                    Profile
                                </a>
                            </li>
                            <li>
                                @Html.ActionLink("Change Password", "ChangePassword", "Account")
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="~/Account/LogOff">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-container -->
    </div>
    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>
        <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
            <script type="text/javascript">
                try { ace.settings.loadState('sidebar') } catch (e) { }
            </script>
            <ul class="nav nav-list">
                @foreach (POProject.MVC.Flan.EnhancedMenu.NavigationItem item in POWebClient.Models.NavigationModels.DataSource.Where(i => i.Parent == null && i.Visible))
                {
                    string navHrefParent = "#";
                    if (!string.IsNullOrEmpty(item.ActionName))
                    {
                        navHrefParent = Url.Action(item.ActionName, item.ControllerName);
                    }
                    string varClassParent = "";
                    if (POProject.MVC.Flan.Helpers.LocationHelper.IsCurrentControllerAndAction(item.ControllerName, item.ActionName, ViewContext))
                    {
                        varClassParent = "active";
                    }
                    if (string.IsNullOrEmpty(varClassParent))
                    {
                        foreach (POProject.MVC.Flan.EnhancedMenu.NavigationItem itemActive in
                            POWebClient.Models.NavigationModels.DataSource.Where(j => j.Parent != null && j.Parent.Id == item.Id && j.Visible))
                        {
                            if (POProject.MVC.Flan.Helpers.LocationHelper.IsCurrentControllerAndAction(itemActive.ControllerName, itemActive.ActionName, ViewContext))
                            {
                                varClassParent = "active";
                            }
                        }
                    }
                    <li class="@varClassParent">
                        <a href="@navHrefParent">
                            <i class="@item.IconBootstrap">
                                <div class="icon-bg bg-orange"></div>
                            </i>
                            <span class="menu-title">@item.Text</span>
                            @if (POWebClient.Models.NavigationModels.DataSource.Where(k => k.Parent != null && k.Parent.Id == item.Id).Count() > 0)
                            {
                                <span class="fa-arrow"></span>
                            }
                        </a>
                        @if (POWebClient.Models.NavigationModels.DataSource.Where(k => k.Parent != null && k.Parent.Id == item.Id).Count() > 0)
                        {
                            <ul class="nav nav-second-level">
                                @foreach (POProject.MVC.Flan.EnhancedMenu.NavigationItem itemLvChild in
POWebClient.Models.NavigationModels.DataSource.Where(j => j.Parent != null && j.Parent.Id == item.Id && j.Visible))
                                {
                                    string navHrefChild = "#";
                                    if (!string.IsNullOrEmpty(itemLvChild.ActionName))
                                    {
                                        navHrefChild = Url.Action(itemLvChild.ActionName, itemLvChild.ControllerName);
                                    }
                                    string varClassChild = "";
                                    if (POProject.MVC.Flan.Helpers.LocationHelper.IsCurrentControllerAndAction(itemLvChild.ControllerName, itemLvChild.ActionName, ViewContext))
                                    {
                                        varClassChild = "active";
                                    }
                                    <li class="@varClassChild">
                                        <a href="@navHrefChild">
                                            <i class="@itemLvChild.IconBootstrap">
                                                <div class="icon-bg bg-orange"></div>
                                            </i>
                                            <span class="menu-title">@itemLvChild.Text</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul><!-- /.nav-list -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
        </div>
        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="#">Home</a>
                        </li>
                        <li class="active">Dashboard</li>
                    </ul><!-- /.breadcrumb -->
                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                        </form>
                    </div><!-- /.nav-search -->
                </div>
                <div class="page-content">
                    <div class="ace-settings-container" id="ace-settings-container">
                        <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                            <i class="ace-icon fa fa-cog bigger-130"></i>
                        </div>
                        <div class="ace-settings-box clearfix" id="ace-settings-box">
                            <div class="pull-left width-50">
                                <div class="ace-settings-item">
                                    <div class="pull-left">
                                        <select id="skin-colorpicker" class="hide">
                                            <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                            <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                            <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                            <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                        </select>
                                    </div>
                                    <span>&nbsp; Choose Skin</span>
                                </div>
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                                </div>
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                                </div>
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                                </div>
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                                </div>
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-add-container">
                                        Inside
                                        <b>.container</b>
                                    </label>
                                </div>
                            </div><!-- /.pull-left -->
                            <div class="pull-left width-50">
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                                </div>
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                                </div>
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                                </div>
                            </div><!-- /.pull-left -->
                        </div><!-- /.ace-settings-box -->
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">BPKPD</span>
                        PO &copy; 2017
                    </span>
                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>
                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>
                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>
            </div>
            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
        </div>
    </div>
    <script src="~/Content/js/ace-extra.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery-ui.custom.min.js"></script>
    <script src="~/Content/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/js/jquery.easypiechart.min.js"></script>
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/jquery.datetimepicker/jquery.datetimepicker.js"></script>
    <script src="~/Content/js/ace-elements.min.js"></script>
    <script src="~/Content/js/ace.min.js"></script>
    <script src="~/Content/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Scripts/jquery.BlockUi.js"></script>
    <script src="~/Scripts/jquery.BlockUi.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
